html, body { height: 100%; margin: 0; }
body {
  background-color: #eeffee;
}
h1 {
  color: darkgoldenrod;
}
p {
  color: black;
  padding: 0px 10px 0px 10px; /* Поля вокруг текста (top, right, bottom, left)*/
  text-align: justify;
}

.l_field{
    width: 805px; /* Ширина части */
}
.r_field {
    width: 600px; /* Ширина части */
}

.header, .l_field, .r_field, .footer {
    border: solid 1px #000; /* Параметры рамки */
    background: #e3e8cc; /* Цвет фона */
}

.header { /* Верхняя часть с заголовком */
    background: #e3e8cc; /* Цвет фона */
    font-size: 16px; /* Размер шрифта */
    height: 30px;
    padding: 0px; /* Поля вокруг текста */
}

.layout {
    /*margin: 15px 0; /* Отступы сверху и снизу */
    overflow: hidden; /* Отменяем действие float */
    min-width: 1620px; /* Минимальная ширина */
    max-width: 1920px; /* Максимальная ширина */
}
