<% layout('../layout') -%>
<h1><%= title %></h1>
<canvas id="TestHanoiView" width="700" height="300">
    canvas не поддерживается!
</canvas>
<div id="qunit"></div>
<div id="qunit-fixture"></div>
<script src="bower_components/qunit/qunit/qunit.js"></script>
<script src="js/HanoiModel.js"></script>
<script src="js/Hanoi.js"></script>
<script src="tests/UnitTests.js"></script>
